doctype html
html
  head
    title= "E-Commerce"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
      a(href="/")
        h1(class="headerTitle")="E-Commerce"
      div(class="cart")
        a(href="/cart")
          button="Cart"
    block content
